div {
  display: : block !important;
  justify-content: center !important;
  align-items: center !important;
}

caption:hover {
  background-color: coral !important;
  color: DodgerBlue !important;
}

th, td {
  padding: 8px;
/*   text-align: center; */
  border-bottom: 1px solid blue;
}

th:hover,  td:hover {
  background-color: coral !important;
}
