:root p:hover {
  background-color: coral !important;
  color: red !important;
}

html > p:hover {
  background-color: coral !important;
  color: green !important;
}

div {
  display: : block !important;
  justify-content: center !important;
  align-items: center !important;
}

:root caption:hover {
  background-color: coral !important;
  color: DodgerBlue !important;
}

:root th, :root td {
  padding: 8px;
/*   text-align: center; */
  border-bottom: 1px solid blue;
}

:root th:hover, :root td:hover {
  background-color: coral !important;
}
